$dark-base-bg-color: #1f1d2e;
$dark-base-color: #e0def4;
$dark-base-disabled-color: #6e6a86;
$dark-link-color: #9ccfd8;
$dark-link-hover-color: #f6c177;
$dark-link-visited-color: #c4a7e7;
$dark-book-bg-color: #26233a;
$dark-error-color: #eb6f92;
$dark-tags-color: #908caa;
