// Define your own custom site css here
//
body {
  font-family: 'Lato', system-ui, 'Segoe UI', Roboto, Oxygen, sans-serif;
}

.books {
  li {
    .title {
      font-family: 'Lato', system-ui, 'Segoe UI', Roboto, Oxygen, sans-serif;
    }
    .tags {
      font-family: 'Victor Mono', monospace;
    }
  }
}

.book {
  font-family: 'Victor Mono', monospace;
}
