// Define your own custom site css here
//
@use "sass:color";
@use 'colours';

body {
  font-family: 'Lato', system-ui, 'Segoe UI', Roboto, Oxygen, sans-serif;
  background-color: #ffffff;
}

.category-container {
  background-color: #ffffff;
}

.books {
  li {
    .title {
      font-family: 'Lato', system-ui, 'Segoe UI', Roboto, Oxygen, sans-serif;
    }
    .tags {
      font-family: 'Victor Mono', monospace;
    }
  }
}

.book {
  font-family: 'Victor Mono', monospace;
  background-color: #ffffff;
}

body.nonkindle {
  background-color: color.adjust(colours.$base-bg-color, $lightness: -3%);
  .category-container {
    background-color: colours.$base-bg-color;
  }
  .book {
    background-color: color.adjust(colours.$base-bg-color, $lightness: 3%);
  }
}
[data-theme="dark"] {
  body.nonkindle {
    background-color: color.adjust(colours.$dark-base-bg-color, $lightness: 3%);
  }
  .book {
    background-color: colours.$dark-book-bg-color;
  }
}
