// Define your own custom site css here
//
@use "sass:color";
@use 'colours';
@use "inter-variable";
@use "victor";

$inter-features:'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv05' on, 'cv07' on, 'cv08' on, 'cv09' on, 'cv10' on;
$victor-features:'ss06' on, 'ss01' off, 'ss07' on;

body {
  font-family: 'InterVariable', 'Inter', 'Lato', system-ui, 'Segoe UI', Roboto, Oxygen, sans-serif;
  font-feature-settings: $inter-features;
  background-color: #ffffff;
}

.category-container {
  background-color: #ffffff;
}

.books {
  li {
    .title {
      font-family: 'InterVariable', 'Inter', 'Lato', system-ui, 'Segoe UI', Roboto, Oxygen, sans-serif;
      font-feature-settings: $inter-features;
    }
    .tags {
      font-family: 'Victor Mono', monospace;
      font-feature-settings: $victor-features;
    }
  }
}

.book {
  font-family: 'Victor Mono', monospace;
  font-feature-settings: $victor-features;
  background-color: #ffffff;
}

body.nonkindle {
  background-color: color.adjust(colours.$base-bg-color, $lightness: -3%);
  .category-container {
    background-color: colours.$base-bg-color;
  }
  .book {
    background-color: color.adjust(colours.$base-bg-color, $lightness: 3%);
  }
}
body.kobotouch {
  background-color: #ffffff;
  .category-container {
    background-color: #ffffff;
  }
  .book {
    background-color: #ffffff;
  }
}
[data-theme="dark"] {
  body.nonkindle {
    background-color: color.adjust(colours.$dark-base-bg-color, $lightness: 3%);
    .book {
      background-color: colours.$dark-book-bg-color;
    }
  }
}
