// Define your own custom viewer theme css here
@font-face {
    font-display: swap;
    font-family: "Readex Pro Light";
    src: url('ReadexPro-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-display: swap;
    font-family: "Readex Pro";
    src: url('ReadexPro-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-display: swap;
    font-family: "Readex Pro";
    src: url('ReadexPro-SemiBold.ttf') format('truetype');
    font-weight: 500;
}
.viewer-theme {
  font-family: 'Readex Pro', system-ui, 'Segoe UI', Roboto, Oxygen, sans-serif;
}
